<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>עריכת עובד</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>עריכת עובד</h1>
    <a href="/" class="home-btn">🏠 דף הבית</a>

    <form action="/update_worker/{{ worker[0] }}" method="post">
        <input type="text" name="w_name" value="{{ worker[1] }}" required>
        <input type="number" name="year" value="{{ worker[2] }}" required>
        <input type="text" name="role" value="{{ worker[3] }}" required>
        <button type="submit">💾 עדכן</button>
    </form>
</body>
</html>
